.modal {
  &-box {
    padding: 2rem; 
    background-color: white; 
    border-radius: 0.5rem; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    max-width: 400px; /* Limit max width */
    width: 90%; /* Responsive width */
    position: relative; /* Allow absolute positioning of close button */
  }

  &-header {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
  }

  .close-btn {
    position: absolute; 
    top: 0.5rem; 
    right: 0.5rem; 
    background: none; 
    border: none; 
    cursor: pointer; 
    font-size: 1.2rem; /* Increase font size for visibility */
  }
}

.btn {
  padding: 0.6rem 1.2rem;
  border: none; 
  border-radius: 0.5rem; 
  background: linear-gradient(90deg, #00bcd4, #673ab7); 
  color: white; 
  font-weight: bold; 
  font-size: 0.9rem; /* Slightly larger font size */
  cursor: pointer; 
  transition: all 0.3s ease; 
  text-align: center; 
  margin: 0.5rem 0; /* Adjust margin for better spacing */

  &:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }
}

.btn-enter,
.btn-copy {
  background: linear-gradient(90deg, #00bcd4, #673ab7);
  padding: 0.6rem 1.2rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  width: 85%;
  margin: 0.5rem 0; /* Adjust margin for better spacing */
}

input[type="text"] {
  width: 100%; 
  padding: 0.6rem;
  margin-bottom: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 0.5rem; 
  font-size: 1rem; 
  transition: border-color 0.3s ease; 

  &:focus {
    border-color: #8600d4; 
    outline: none; 
  }
}

// Centering styles
.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100%;
  position: fixed; /* Ensure it covers the full screen */
  top: 0; /* Align at the top */
  left: 0; /* Align at the left */
  background-color: rgba(0, 0, 0, 0.5); /* Add background overlay */
}

.modal {
  position: relative; /* Change to relative for better positioning */
  top: auto; /* Reset top */
  left: auto; /* Reset left */
  transform: translate(0, 0); /* No transform needed here */
}
